In [1]:
print("Hello")

Hello

In [2]:
i=10

In [3]:
type(i)

int

In [4]:
f=10.12
type(f)

float

In [7]:
i+f

20.119999999999997

In [9]:
f+i

20.119999999999997

In [11]:
x=True
y=False
type(x)

bool

In [12]:
x+y

1

In [13]:
x and y

False

In [14]:
x or y

True

In [15]:
not x

False

In [16]:
#Power operator
10**2

100

In [17]:
10/5

2.0

In [18]:
#wap to calculate cubic root of a number
10**(1/3)

2.154434690031884

In [19]:
round(1000**(1/3))

10

In [20]:
1000**(1/3)==10

False

In [24]:
100**(1/2)==10

True

In [25]:
i=10
i=20
print(i)

20

In [29]:
i=10
if i>10:
    print("gt")
else:
    if i==10:
        print("eq")
        if\
        i==20:
            print("20")
    print("lt")

eq
lt

In [30]:
if (i==20) or (i==10) or \
(i==0):
    print(i)

10

In [33]:
#loops:
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [37]:
#sum of first 100 natural numbers
n=0
s=0
while n<=100:
    s=s+n
    n=n+1
print(s)
print(100*101/2)

5050
5050.0

In [39]:
#find a factorial of a number 100!
n=100
factorial=1
while n>0:
    factorial=factorial*n
    n=n-1
print(factorial)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [41]:
s="Hello FIS Global"

In [50]:
len(s)

16

In [54]:
s.capitalize()

'Hello fis global'

In [55]:
s.upper()

'HELLO FIS GLOBAL'

In [56]:
s.split(" ")

['Hello', 'FIS', 'Global']

In [52]:
print(s[15])
print(s[-1])

l
l

In [48]:
s[1:-1]

'ello FIS Globa'

In [49]:
s[-5:]

'lobal'

In [42]:
type(s)

str

In [44]:
s[0:5]

'Hello'

In [46]:
s[1:5]

'ello'

In [64]:
# WAP to print char in str which is divisible by 3
l=len(s)
i=0
while i<l:
    #print(i)
    if i==0:
        i=i+1
        continue #break
    if i%3==0:
        print(s[i])
    i=i+1

l
F

o
l

In [65]:
a="Hello"
b="World"
a+b

'HelloWorld'

In [71]:
print(s.replace.__doc__)

S.replace(old, new[, count]) -> str

Return a copy of S with all occurrences of substring
old replaced by new.  If the optional argument count is
given, only the first count occurrences are replaced.

In [73]:
s.replace("H","A").upper()

'AELLO FIS GLOBAL'

In [74]:
#Lists
l=["A",1,True]
type(l)

list

In [75]:
#tuple
t=("A",1,True)
type(t)

tuple

In [76]:
s={"A",1,True}
type(s)

set

In [79]:
l[0]="B"

In [83]:
#add an element
l.append("E")

In [87]:
#remove by pop
l.pop()

print(l)

['B', 1, True]

In [91]:
l.remove("B")

In [93]:
N=[l,t,s]
N

[[1, True], ('A', 1, True), {1, 'A'}]

In [94]:
Age=[32,30,25,26,28,30]
for i in Age:
    print(i)

32
30
25
26
28
30

In [98]:
#WAP to find average/Mean of the list
print(sum(Age)/len(Age))
s=0
count=0
for i in Age:
    s=s+i
    count=count+1
print(s/count)
mu=s/count

28.5
28.5

In [99]:
# WAP to find variance of the list Age
var=0
for Xi in Age:
    var=var+(Xi-mu)**2
var=var/count
print(var)

5.916666666666667

In [101]:
# function defintion
def mean(x):
    """This function calculates mean of a list; input: List type object of
    int or float type; it will return a float"""
    s=0
    count=0
    for i in x:
        s=s+i
        count=count+1
    mu=s/count
    return mu

In [105]:
def variance(x):
    mu=mean(x)
    var=0
    for Xi in x:
        var=var+(Xi-mu)**2
    var=var/count
    return var
def standard_deviation(x):
    return variance(x)**0.5

In [106]:
standard_deviation(Age)

2.4324199198877374

In [109]:
#WA function to find the factorial of a number without using loops
def factorial(x):
    if x==1:
        return 1
    else:
        return x*factorial(x-1)

In [110]:
factorial(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [112]:
A={2,3,3,5}
B={3,6}

In [117]:
L=[2,2,3,3,5]
L=list(set(L))
L

[2, 3, 5]

In [118]:
A.difference(B)

{2, 5}

In [119]:
A.union(B)

{2, 3, 5, 6}

In [121]:
A.intersection(B)

{3}

In [122]:
A.add(6)

In [124]:
A.add("a")

In [126]:
A.add(1)

In [127]:
A

{1, 2, 3, 5, 6, 'a'}

In [128]:
# Dictionary:
d={"K":1,"J":2,"I":3,"L":3}

In [130]:
d["K"]

1

In [131]:
for i in d:
    print(i)

K
J
I
L

In [133]:
for i in d.values():
    print(i)

1
2
3
3

In [134]:
for key,value in d.items():
    print(key,value)

K 1
J 2
I 3
L 3

In [135]:
d["K"]=23
d

{'K': 23, 'J': 2, 'I': 3, 'L': 3}

In [136]:
d["A"]=2
d

{'K': 23, 'J': 2, 'I': 3, 'L': 3, 'A': 2}

In [137]:
del(d["A"])
d

{'K': 23, 'J': 2, 'I': 3, 'L': 3}

In [147]:
l=[10,10,11,11,11,11,12,12,12,12,13,13,14,14,15]
#please find the mode

def mode(l):
    #1:use set to find unique elements
    s=set(l)
#2: Create a null dict and store all unique elements with count values as 0
    d={}
    for i in s:
        d[i]=0
#3: count the occurance and update the counts
    for i in l:
        d[i]=d[i]+1
#4: find the key of lagest value in dict 
    mode=0
    largest_count=0
    for key, value in d.items():
        if largest_count<value:
            largest_count=value
            mode=key
    #Homework: for multimodal dist; update the logic
    return mode

In [148]:
mode=mode(l)

In [145]:
mode

11

In [103]:
mean.__doc__

'This function calculates mean of a list; input: List type object of\n    int or float type; it will return a float'

In [104]:
mean(Age)

28.5